
/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		appearance: none;
		transition:
			background-color #{_duration(transition)} ease-in-out,
			color #{_duration(transition)} ease-in-out;
		display: inline-block;
		height: _size(element-height);
		line-height: _size(element-height);
		padding: 0 1em;
		color: #fff;
		background-color: #5d6773;
		border-radius: _size(border-radius);
		border: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;

		&:hover {
			background-color: darken(#5d6773, 10%);
			color: darken(#fff, 5%);
		}

		&.light {
			background-color: #e4eaee;
			color: #444e5a;

			&:hover {
				background-color: darken(#e4eaee, 5%);
				color: darken(#444e5a, 5%);
			}
		}

		&.icon {
			padding-left: 1.35em;

			&:before {
				margin-right: 0.5em;
			}
		}

		&.fit {
			width: 100%;
		}

		&.small {
			font-size: 0.8em;
		}

		&.large {
			font-size: 1.35em;
		}

		&.disabled,
		&:disabled {
			pointer-events: none;
			opacity: 0.5;
		}
	}