
/* Basic */

	// Ensures page width is always >=320px.
	@include breakpoint('<=xsmall') {
		html, body {
			min-width: 320px;
		}
	}

	// Set box model to border-box.
	// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	html {
		height: 100%;
	}

	body {
		height: 100%;
		position: relative;

//		background-image: url('../../images/map.jpg');
//		background-image: image-set(url('../../images/bg.jpg') 1x, url('../../images/bg@2x.jpg') 2x, url('../../images/bg@3x.jpg') 3x);

		background-color: 		_palette(bg);
		background-repeat:		no-repeat;
		background-size:		cover;
		background-position:	center center;
		background-attachment:	fixed;
	}

	$modal-bg-color: #f9fafa;
	$modal-padding-vertical: 0.5em;
	$modal-padding-horizontal: 1.5em;
	$modal-padding: $modal-padding-vertical $modal-padding-horizontal;
	$modal-border-color: #ecf0f3;
	$modal-border: 1px solid $modal-border-color;

	%container {
		background: white;
		border-radius: _size(border-radius);
		border: $modal-border;
	}

	.next {
		&::after {
			content: '\f105';
			padding-left: 0.5em;
			font-family: FontAwesome;
			transition:
				color #{_duration(transition)} ease,
				background-color #{_duration(transition)} ease;
		}
	}
	.prev {
		&::before {
			content: '\f104';
			padding-right: 0.5em;
			font-family: FontAwesome;
			transition:
				color #{_duration(transition)} ease,
				background-color #{_duration(transition)} ease;
		}
	}