
/* Modal */

	.modal {
		display: none;

		&.is-open {
			display: block;
		}
	}

	.modal__overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.2);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.modal__container {
		background-color: #fff;
		width: 60vw;
		height: 100%;
		max-height: 80vh;
		border-radius: 4px;
		overflow-y: auto;
		box-sizing: border-box;
		border: $modal-border;
		display: flex;
		flex-direction: column;

		@include breakpoint('<=small') {
			width: 90vw;
			max-height: 90vh;
		}

		@include breakpoint('<=xsmall') {
			width: 95vw !important;
			max-height: 95vh;
		}
	}

	.modal__header {
		padding: $modal-padding;
		border-bottom: $modal-border;

		.modal__title {
			margin-top: 0;
			margin-bottom: 0;
			font-weight: bold;
			font-size: 1.25rem;
			line-height: 1.25;
			color: #444e5a;
			box-sizing: border-box;
			display: inline;
		}

		.modal__close {
			color: inherit;
			background: transparent;
			border: 0;
			float: right;
			margin-right: -16px;

			&:before {
				content: "\2715";
				font-size: 1.5em;
			}

			&:focus {
				// The close button is automatically focused when a modal is opened.
				// This removes the highlight when then button is focused.
				outline: none;
			}
		}
	}

	.modal__content {
		line-height: 1.5;
		color: rgba(0,0,0,.8);
		flex-grow: 1;
	}

	.modal__btn {
		font-size: .875rem;
		padding-left: 1rem;
		padding-right: 1rem;
		padding-top: .5rem;
		padding-bottom: .5rem;
		background-color: #e6e6e6;
		color: rgba(0,0,0,.8);
		border-radius: .25rem;
		border-style: none;
		border-width: 0;
		cursor: pointer;
		appearance: button;
		text-transform: none;
		overflow: visible;
		line-height: 1.15;
		margin: 0;
		will-change: transform;
		-moz-osx-font-smoothing: grayscale;
		backface-visibility: hidden;
		transform: translateZ(0);
		transition: -webkit-transform .25s ease-out;
		transition: transform .25s ease-out;
		transition: transform .25s ease-out,-webkit-transform .25s ease-out;

		&:focus, &:hover {
			transform: scale(1.05);
		}
	}

	.modal__btn-primary {
		background-color: #00449e;
		color: #fff;
	}