
/* Notice */

	#notice {
		position: absolute;
		top: 0;
		left: 0;
		height: auto;
		width: 100%;
		pointer-events: none;

		@include breakpoint('<=large') {
			top: 50px;
		}
	}

	#notice-box{
		@extend %container;
		cursor: default;
		width: 300px;
		max-width: 50vw;
		max-height: 50vh;
		margin: 0.5em auto;
		height: auto;
		border: none;
		border-radius: 4px;
		overflow: auto;
		z-index: 100;
		padding: 5px;
		pointer-events: auto;

		background-color: #c20000;
		color: white;


		@include breakpoint('<=large') {
			top: 400px;
		}

		@include breakpoint('<=small') {
			width: 50vw;
		}

		@include breakpoint('<=xsmall') {
			width: 100vw !important;
			margin-top: 60px;
		}

	}
