@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/breakpoints';

// Source: https://unpkg.com/leaflet@1.4.0/dist/leaflet.css
@import 'external/leaflet';
// Source: https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css
@import 'external/leaflet.fullscreen';

/*
	Base SCSS file.
*/

// Breakpoints.

	@include breakpoints((
		xlarge:    (1281px,   1680px   ),
		large:     (961px,    1280px   ),
		medium:    (737px,    960px    ),
		small:     (481px,    736px    ),
		xsmall:    (361px,    480px    ),
		xxsmall:   (null,     360px    )
	));

// Base.

	@import 'base/reset';
	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/form';
//	@import 'components/icon';
//	@import 'components/list';
//	@import 'components/actions';
//	@import 'components/icons';
	@import 'components/button';

// Layout.

//	@import 'layout/footer';
//	@import 'layout/wrapper';
	@import 'layout/search';
	@import 'layout/directions';
	@import 'layout/controls';
	@import 'layout/modal';
	@import 'layout/tab';
	@import 'layout/toggles';
	@import 'layout/map';
	@import 'layout/notice';

// Font.

	@import 'libs/fonts';
